@use "variables" as v;

.errorPage {
  width: 100%;
  overflow-y: hidden;
  background: v.$background-color;
  padding: 20rem 0rem;
}

.error-heading {
  color: v.$text-color;
  font-size: 4rem;
  text-align: center;
}
.error_text {
  color: white;
  text-align: center;
}
