@use 'variables' as v;

.footer{
    background: v.$text-color;
    padding: 3rem 0rem 0rem 0rem;
    
}
.links{
    text-decoration: none;
    color:"white";
}

.contact-form{
   color: white;
    position: relative;
 background: rgba(0, 0, 0, 0.908);
 height: 60vh;
 width: 90%;
 margin: 2rem 5% 0rem;
 border: 1px solid darkblue;
 border-radius: 0.5rem;
 box-shadow: 0px 0px 10px 10px rgba(15, 20, 34, 0.539)  ;
 text-align: center;
 padding: 2% 0%;
}



.footer-container{
    border-top: rgb(107, 107, 107) solid 1px;
    background: rgb(15, 20, 34) ;
    height: auto;
    color: white;
    padding: none;
margin-top: 2rem;
    .navlinks_container{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 6rem 5rem;
        list-style: none
    }

    .company_banner{
        background-color: v.$text-color;
        color: white;
        text-align: center;
       
        padding: 0.6rem;
    }
    li{
        list-style: none;
        margin-top: 1rem;
    }
    .logo{
        align-items: center;
    }
    .social{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;align-self: center;
    }
}

.contact-form-wrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem 2rem;
    
    
}
.contact-form-container{
    
    
    width: 60%;
}
.contact-form-info{
    
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 40%;

}
.contact-logo{
    
    height: max-content;
    width: 50%;
   
    margin-left: 25%;
}
form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    input{
        color: white;
        background: rgba(42, 42, 42, 0.35);
        height: 3rem;
        border: none;
        width: 80%;
        border-bottom: 1px solid rgb(11, 29, 80);
        padding: 0rem 1rem;
        
        &::placeholder{
            color: white;
        }
    }

    textarea{
        color: white;
        background: rgba(42, 42, 42, 0.35);
        padding: 0.2rem 1rem;
        resize: none;
        border: 1px solid rgb(11, 29, 80);

        &::placeholder{
            color: white;
        }
    }
}



@media only screen and (max-width: 768px) {

.footer  .navlinks_container{
    flex-direction: column;
    text-align: center;
    
}
.navlinks_container{
    padding: 3rem 0rem;
}
.navlinks{
    padding:'3rem 0rem';
    
}
.logo_footer{
    width: 100%;
}
.social{
    flex-direction: row;
    justify-content: space-evenly;
}
.contact-form{
    padding: 2rem 0rem;
    position: relative;
 background: rgba(0, 0, 0, 0.929);
 height: 90vh;
 width: 90%;
 border: 1px solid darkblue;
 border-radius: 0.5rem;
 box-shadow: 0px 0px 10px 10px rgba(15, 20, 34, 0.539)  ;
 text-align: center;
}
.contact-logo{
    
    
        height: max-content;
        width: 50%;
       margin-bottom: 1rem;
        margin-left: 22%;
    

}
.contact-form-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.3rem 2rem;
   
    
    
}
.contact-form-container{
    
    
    width: 100%;
}
.contact-form-info{
    padding-top: 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;

}
}